body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 0.5rem;
}

input,
select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="text"],
textarea,
button {
    width: 100%;
    /* Make all inputs, textarea, and button the same width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Ensures padding is included in the width */
}

button {
    width: 100%;
    background-color: #007bffc9;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 0.9rem;
}

.success {
    color: green;
    font-size: 0.9rem;
}

/* Responsive design for mobile screens */
@media (max-width: 600px) {
    .container {
        padding: 1.5rem;
        width: 100%;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.checkbox-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.checkbox-container input[type="checkbox"] {
    width: 5%;
    margin-left: 25%;
    margin-right: 10px;
    /* Space between checkbox and label */
}

.checkbox-container label {
    line-height: 1.5;
    /* Adjust line height for better alignment */
}